* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: var(--light);
}

:root {
    --dark-blue: #06AAAC;
    --light: #EEEEEE;
    --dark-bg:#3e4f59;
}

.button1{
    background-color: var(--dark-blue);
    color: var(--light);
}

nav {
    background:var(--dark-bg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: var(--light);
    box-shadow: var(--light);
}

.op-vanbar-toggler-icon{
    color: var(--light);
    padding: 5px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: var(--light);
    font-family: sans-serif;
}

nav .nav-link:hover {
    color: #bbbbbb;
}

nav input[type="text"] {
    background: var(--dark-bg);
    border: none;
    color: var(--light);
    padding: 0 5px 0 5px;
}

nav input[type="text"]::placeholder {
    color: var(--light);
}

nav input[type="text"]:focus {
    outline: none;
}

.op-search-bar{
    border-bottom: var(--light) 3px solid;
    display: inline-block;
}
.fa-search{
    color: var(--light);
    padding-bottom: 4px;
    margin-left: -5px;
}

.op-dropdown-menu{
    background: var(--dark-bg);
    border: none;
}

.op-dropdown-menu a{
    background: var(--dark-bg);
    color: var(--light);
}

aside{
    height: 90vh;
}

.op-carousel-img {
    width: 70vh;
    margin: auto;
}
.op-h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: var(--dark-blue);
    font-size: 25px;
}

main{
    background: var(--dark-bg);
}
.op-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: var(--light);
    font-size: 70px;
}

section {
    background: var(--dark-blue);
}

.op-contact-form-container {
    padding: 50px 5px;
}
.op-contact-form-container input[type="text"],
.op-contact-form-container input[type="email"],
.op-contact-form-container input[type=""]{
    width: 90%;
    outline: none;
    border: none;
    border-radius: 0 50px 50px 0;
    margin: 10px 0;
    padding: 5px;
    background: var(--light);
    font-weight: bold;
}

.op-contact-form-container textarea{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    background: var(--light);
    resize: none;
}

.op-contact-form-container input[type="submit"],
.op-contact-form-container input[type="reset"]{
    width: 49%;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 5px;
    background: var(--light);
    font-weight: bold;
    text-align: center;
}

.op-contact-form-container input[type="submit"]:hover,
.op-contact-form-container input[type="reset"]:hover{
    outline: var(--dark-bg) 3px solid;
}

.op-icon-form-container {
    text-align: center;
    padding: 5px;
    width: 10%;
    border-radius: 50px 0 0 50px;
    border-right: var(--dark-blue) 2px solid;
    background: var(--light);
    color: var(--dark-blue);
}

footer {
    height: auto;
    background: var(--dark-bg);
}

.button1{
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
}
.op-card{
    margin-bottom: 20px;
    border-radius:  15px;

}

.op-card-img{
    border-radius: 15px 15px 0px 0px;
    max-height: 170px;

}

.op-card-img-ropa{
    border-radius: 15px 15px 0px 0px;
    max-height: 220px;
}

h2{
    margin-bottom: 20px;
}

.op-bg{
    background: var(--dark-bg);
    height: auto;
    min-height: 100vh;
}

.op-container-login{
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--light);
    height:95vh;
}

.op-form-field{
    width: 90%;
    outline: none;
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 5px;
    background: var(--light);
    border: var(--dark-blue) 2px solid;
    font-size: 15px;
}

.op-icon-login-form-container {
    text-align: center;
    padding: 5px;
    width: 10%;
    border-radius: 50px 0 0 50px;
    background: var(--light);
    color: var(--dark-blue);
    border: var(--dark-blue) 2px solid;
    border-right: none;
    font-size: 15px;
}
.op-img-login{
    width: 250px; 
    margin-left:calc(50% - 125px);
}

.op-form-link {
     text-decoration: none;
     color: var(--dark-blue);
 }

 .op-form-link:hover{
    color: var(--dark-bg);
}

.op-form-button{
    background: var(--dark-blue);
    border-radius: 50px;
    margin: 1%;
    width: 47%;
    color: var(--light);
}

.op-detail-container {
    margin-bottom: 40px;
}

.op-detail-container-img {
    width: 100%;
    max-height: 400px;
    height: auto;
    padding: 10px;
    align-self: center;
}

.op-detail-container-img img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 30px;
}

.op-detail-container-price {
    align-self: center;
    display: inline-block;
    border: var(--dark-blue) 3px solid;
    color: var(--dark-blue);
    padding: 10px 40px;
    border-radius: 10px;
    width: 100%;
}

.op-detail-container-owner{
    align-self: center;
}

.op-detail-container-price p{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.op-right-side-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: var(--dark-blue);
}

.op-description-container {
    height: auto;
    word-wrap: break-word;
}

.op-detail-table {
    color: var(--dark-blue);
    width: 48%;
    font-weight: bold;
    display: inline-block;
}

.op-logo{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
.op-logo:hover{
    color: var(--light);
}

.op-logged-container-img{
    height:750px;
}
.op-logged-p{
    font-family: 'Oswald', sans-serif;   
    color:var(--dark-blue);
    font-size:70px
}

.op-clima{
    display: flex;
    width: 400px;
    height: 200px;
    background:var(--dark-blue);
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    z-index: 15;
    position: fixed;
    border-radius: 10px;
    border: 1px solid var(--dark-bg);
}
.op-cerrar-clima{
    position: absolute;
    font-size: 20px;
    padding: 0;
    display: block;
    top: 0;
    right: 0;
    padding-right: 5px;
    color: var(--dark-bg);
}

.op-clima-ciudad{
    width: 100%;
    height: 15%;
    text-align: left;
}

.op-clima-ciudad h2{
    font-size: 25px;
    padding-left: 10px;
    color: var(--light);
}

.op-clima-ciudad-cont{
    width: 40%;
    height: 70%;
}

.op-clima-ciudad-cont-min,
.op-clima-ciudad-cont-max{
    width: 100%;
    height: 50%;
    font-size: 12px;
    border: var(--dark-bg) 1px solid;
}

.op-clima-ciudad-cont-min p,
.op-clima-ciudad-cont-max p{
    margin-bottom: 0;
    margin-left: 5px;
}
.op-clima-ciudad-cont-min-grados,
.op-clima-ciudad-cont-max-grados{
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--light);
}

.op-clima-ciudad-actual{
    width: 60%;
    height: 70%;
    border: var(--dark-bg) 1px solid;
}

.op-clima-ciudad-actual p{
    font-size: 20px;
    margin-left: 10px;
}

.op-clima-ciudad-actual-temp{
    text-align: center;
    color: var(--light);
}

.op-clima-ubicacion {
    width: 100%;
    height: 15%;
    display: flex;
}

.op-boton-ubicacion{
    margin: auto;
    width: 80%;
    height: 90%;
    color: var(--dark-bg);
    border-radius: 100px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: var(--dark-bg);
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
}

.parsley-errors-list {
  margin:0;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.8em;
  opacity: 0;
  color: var(--dark-bg);

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
    .op-detail-table {
        display: block;
        width: 100%;
        margin: auto;
    }

    .op-h2{
        font-size:50px;
    }

    aside{
        height: 70vh;
    }
    
    .op-carousel-img {
        width: 100%;
        margin: auto;
        max-height: 40vh;
    }
    .op-logged-container-img{
        height:500px;
    }
    .op-logged-p{
        font-family: 'Oswald', sans-serif;   
        color:var(--dark-blue);
        font-size:20px
    }

    .op-clima{
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {
    .op-detail-container-img {
        margin-bottom: 50px;
    }
    .op-logged-container-img{
        height:700px;
    }
    .op-logged-p{
        font-family: 'Oswald', sans-serif;   
        color:var(--dark-blue);
        font-size:20px
    }
}
